body {
    margin: 0;
    font-family: Consolas;
}


nav a, .navBlock {
    background-color: #e4572e;
    color: white;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

.siteNav, .userNav {
    display: inline;
}


footer {
    position: absolute;
    text-align: left;
    font-size: 10pt;
    bottom: 5px;
    margin-left: 5px;
}