body {
    margin: 0;
    font-family: Consolas;
}

#messages {
    text-align: center;
}

#navBlock > nav {
    background-color: #e4572e;
    text-align: center;
    padding: 20px;
}

#navBlock > nav a{
    color:white;
    font-size: medium;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

#navBlock > nav a:link #navBlock > nav a:visited{
    text-decoration: none;
}

#navBlock > nav a:hover {
    background-color: rgb(197, 82, 47);
}


footer {
    position: fixed;
    bottom:0;
    text-align: left;
    font-size: 10pt;
    left:1%;
}