#header {
    font-size: 54px;
    padding-top: 8%;
    color: #e4572e;
    text-align: center;
}

#greeting{
    color:#707070;
    font-size: 45px;
    padding-top: 5%;
}

#nav-dashboard {
    text-align: left;
    padding-left: 50px;
}

#nav-dashboard > nav > ul > li{
    font-size: 24px;
    list-style-type: none;
    padding: 60px 10px;
}

#nav-dashboard > nav > ul > li a{
    color:#29335C;
    text-decoration: none;
    padding: 10px;
}

#nav-dashboard > nav > ul > li a:hover {
    background-color: #f7f7f7;
    border-left: #e4572e;
    border-style: solid;
    border-width: 0 0 0 2px;
} 

.overview {
    margin: 10px;
}

.system-mini {
    background-color:#F1F1F1;
    width: 374px;
    height: 447px;
    border-top: solid #F3A712;
    border-width: 60px;
    margin: 30px;
    padding: 20px;
}

.system-mini > h2 {
    margin-top: -70px;
    color: white;
    text-align: center;
}

.system-mini > .habits {
    margin: 20px;
}

.new-buttons > a:link, .new-buttons > a:visited{
    background-color: #F3A712;
    color: white;
    padding: 15px;
    margin: 10px 0;
}

.new-buttons > a:hover {
    background-color: #e4572e;
    text-decoration: none;
}


.form-system {
    padding-top: 15%;
}


