#header {
    font-size: 54px;
    padding-top: 8%;
    color: #e4572e;
    text-align: center;
}

#greeting{
    color:#707070;
    font-size: 45px;
    padding-top: 5%;
}



.systems, .form-system {
    padding-top: 15%;
}


