#progress {
    width: 100%;
    background-color: #ddd;
}

#bar {
    width: 10%;
    height: 30px;
    background-color: #A8C686;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
}

.progressBar {
    position: relative;
    width: 10%;
    height: 40px;
    border: 1px solid #000000;
}

.progressFill {
    height: 100%;
    background: greenyellow;
    transition: width 0.5s;
}

.progressValue {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}