.progress {
    width: 100%;
    background-color: #ddd;
}

#bar {
    width: 10%;
    height: 30px;
    background-color: #A8C686;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
}