<!DOCTYPE html>
<html>
    <head>
       
        <!------------------------------------------------ Stylesheets ----------------------------------------------------------------------->

        <!-- Bootstrap -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <!-- Local -->
        <link href= "{{ url_for('static',filename='styles/base.css') }}" rel="stylesheet" type="text/css">
        <link href= "{{ url_for('static',filename='styles/index.css') }}" rel="stylesheet" type="text/css">
        <link href= "{{ url_for('static',filename='styles/login.css') }}" rel="stylesheet" type="text/css">
        <link href= "{{ url_for('static',filename='styles/dashboard.css') }}" rel="stylesheet" type="text/css">
        <link href= "{{ url_for('static',filename='styles/systems.css') }}" rel="stylesheet" type="text/css">
        <link href= "{{ url_for('static',filename='styles/forms.css') }}" rel="stylesheet" type="text/css">



        {% if title %}
        <title>{{ title }} - LifePlus</title>
        {% else %}
        <title>Welcome to LifePlus!</title>
        {% endif %}

    </head>

    <body>
        <header>
            <div id="navHorizontal">
                <nav>
                    <a href="{{ url_for('index') }}">Home</a>
                    {% if current_user.is_anonymous %}
                        <a href="{{ url_for('register') }}">Sign Up</a>    
                        <a href="{{ url_for('login') }}">Login</a>
                    {% else %}
                        <a href="{{ url_for('dashboard', username=current_user.username) }}">Dashboard</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </nav>
            </div>
        </header>

        <div id="messages">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
                    </div>
                {% endwith %}   
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div id="header">
                        {% block header %}{% endblock %}
                    </div>
                    <div id="navVertical">
                        {% block navVertical %}{% endblock %}
                    </div>
                </div>
                <div class="col-sm-8">
                    {% block content %}{% endblock %}        
                </div>
            </div>
        </div>

        <footer>
            <p><span>&#169;</span> Della Humanita, 2020.</p>
        </footer>

    </body>

</html>
