<!DOCTYPE html>
<html>
    <head>
        <!-- Style Sheets -->
        <link href= "{{ url_for('static',filename='styles/base.css') }}" rel="stylesheet" type="text/css">
        <link href= "{{ url_for('static',filename='styles/index.css') }}" rel="stylesheet" type="text/css">


        {% if title %}
        <title>{{ title }} - LifePlus</title>
        {% else %}
        <title>Welcome to LifePlus!</title>
        {% endif %}

    </head>

    <body>
        <header>
            <nav>
                <div class="navBlock">
                    <div class="siteNav">
                        <a href="{{ url_for('index') }}">Home</a>
                        <a href="{{ url_for('wip') }}">Features</a> 
                    </div>
                    <div class="userNav">
                        {% if current_user.is_anonymous %}
                        <a href="{{ url_for('register') }}">Sign Up</a>    
                        <a href="{{ url_for('login') }}">Login</a>
                        {% else %}
                        <a href="{{ url_for('dashboard', username=current_user.username) }}">Dashboard</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

        <footer>
            <p>Website created by kyounira, May 2020.</p>
        </footer>

    </body>

</html>
