{% extends "base.html" %}


 {% block header %}New System{% endblock %}
    
            
{% block content %}
<div id="main-form">
    <div class="form-group">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }}<br>
                {{ form.title(size=32) }}<br>
                {% for error in form.title.errors %}
                <span style="color: red;">"[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.descr.label }}<br>
                {{ form.descr(size=32) }}<br>
                {% for error in form.title.errors %}
                    <span style="color: red;">"[{{ error }}]</span>
                {% endfor %}

            </p>
            <p>{{ form.submit() }}</p>
        </form>        
    </div>
</div>


{% endblock %}