{% extends "base.html" %}

<!-- Header -->
{% block header %}
Dashboard
{% endblock %}

    
<!-- Vertical Navbar -->
{% block navVertical %}
<nav>
    <ul>
        <li><a href="{{ url_for('dashboard', username=current_user.username) }}">Overview</a></li>
        <li><a href="{{ url_for('wip') }}">Settings</a></li>
        <br><br>
        <li><a href="{{ url_for('index') }}">Back</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<div id="greeting">
    Welcome back, {{ current_user.username }}!
</div>

<div class="overview">
    {% if systems %}
    <div class="row">
        {% for key in data %}
        <div class="col-sm-5">

            <div class="system-mini">
               <h2>{{ key.title }}</h2>
                <div class="habits">
                    {% if data[key]|length > 0 %}

                    <!-- display overall progress bar -->

                    {% for habit in data[key] %}
                    <ul>
                        <!-- updateable progress bars -->
                        <li>

                            {{ habit.title }}<br>
                            <!-- TODO: progress bars for each individual habit -->
                            <div class="progress">
                                <div id="bar">10%</div>
                            </div>
                            <button onclick="decrement()">-</button>
                            <script> 
                                var i = 100;
                                function decrement() {
                                    if (i == 0) {
                                        i = 1;
                                        var elem = document.getElementById("bar");
                                        var width = 10;
                                        var id = setInterval(frame, 10);
                                        function frame() {
                                            if (width >= 0) {
                                                clearInterval(id);
                                                i = 0;
                                            } else {
                                                width--;
                                                elem.style.width = width + "%";
                                                elem.innerHTML = width + "%";
                                            }
                                        }
                                    }
                                } 
                            </script>

                            <button onclick="increment()">+</button>
                            <script>
                                var i = 0;
                                function increment() {
                                    if (i == 0) {
                                        i = 1;
                                        var elem = document.getElementById("bar");
                                        var width = 10;
                                        var id = setInterval(frame, 10);
                                        function frame() {
                                            if (width >= 100) {
                                                clearInterval(id);
                                                i = 0;
                                            } else {
                                                width++;
                                                elem.style.width = width + "%";
                                                elem.innerHTML = width + "%";
                                            }
                                        }
                                    }
                                } 
                            </script>
                            <br>
                        </li>
                    </ul>
                    {% endfor %}

                {% else %}        
                    <p style="text-align:justify;">
                        You have not added any habits.<br>
                        Click <a href="{{ url_for('create_habit', username=current_user.username) }}">here</a>
                        to add one!          
                    </p>
                {% endif %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div> 
    {% else %}
        <p>
        You have not created any systems yet. <br>
        Click <a href="{{ url_for('create_system', username=current_user.username) }}">here</a> to start!
        </p>
    {% endif %}
</div>

<div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="new-buttons">
                <a href="{{ url_for('create_system', username=current_user.username) }}">Add System</a>
                <a href="{{ url_for('create_habit', username=current_user.username) }}">Add Habit</a> 
            </div>
        </div>
</div>


{% endblock %}