{% extends "base.html" %}

<!-- Header -->
{% block header %}
Dashboard
{% endblock %}

    
<!-- Vertical Navbar -->
{% block navVertical %}
<nav>
    <ul>
        <li><a href="{{ url_for('dashboard', username=current_user.username) }}">Overview</a></li>
        <li><a href="{{ url_for('wip') }}">Settings</a></li>
        <br><br>
        <li><a href="{{ url_for('index') }}">Back</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<div id="greeting">
    Welcome back, {{ current_user.username }}!
</div>

<div class="overview">
    {% if systems %}
    <div class="row">
        {% for key in data %}
        <div class="col-sm-5">

            <div class="system-mini">
               <h2>{{ key.title }}</h2>
                <div class="habits">
                    <!-- if there are any habits do -->
                    {% if data[key]|length > 0 %}
                        {% for habit in data[key] %}
                        <ul>
                            <li>
                                <div class="habitId" >
                                    {{ habit.hid }}
                                    <br>
                                </div>
                                <!-- Title -->
                                <div class="habitTitle">
                                    {{ habit.title }}   
                                    <br>
                                </div>
                                <!-- Progress Bar -->
                                <div class="progressBar">
                                    <div class="progressValue">0%</div>
                                    <div class="progressFill"></div>
                                </div>
                                <!-- Buttons -->
                                <div class="progressButtons"></div>
                            </li>

                        </ul>
                        {% endfor %}

                        <!-- TODO -->
                        <script type="module"
                            src="/static/scripts/barsAndButtons.js">
                        </script>


                {% else %}        
                    <p style="text-align:justify;">
                        You have not added any habits.<br>
                        Click <a href="{{ url_for('create_habit', username=current_user.username) }}">here</a>
                        to add one!          
                    </p>
                {% endif %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div> 
    {% else %}
        <p>
        You have not created any systems yet. <br>
        Click <a href="{{ url_for('create_system', username=current_user.username) }}">here</a> to start!
        </p>
    {% endif %}
</div>

<div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="new-buttons">
                <a href="{{ url_for('create_system', username=current_user.username) }}">Add System</a>
                <a href="{{ url_for('create_habit', username=current_user.username) }}">Add Habit</a> 
            </div>
        </div>
</div>


{% endblock %}