{% extends "base.html" %}

{% block content %}

    <!-- Headers -->

    <div class="row">

        <div class="col-sm-4">
            <div id="header">Dashboard</div>
                <div id="nav-dashboard">
                    <nav>
                        <ul>
                            <li><a href="{{ url_for('dashboard', username=current_user.username) }}">Overview</a></li>
                            <li><a href="{{ url_for('wip') }}">Settings</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        <div class="col-sm-8">
            <div id="greeting">
                Welcome back, {{ current_user.username }}!
            </div>

            <div class="overview">

                {% if systems %}
                <div class="row">
                    {% for key in data %}
                    <div class="col-sm-5">
                        <div class="system-mini">
                            <h2>
                                <!-- Click System Title for Full View -->
                                <a href="{{ url_for('view_system', username=current_user.username) }}">{{ key.title }}</a>
                            </h2>
                            <div class="habits">
                                {% if data[key]|length > 0 %}
                                {% for habit in data[key] %}
                                <ul>
                                    <li>{{ habit.title }}</li>
                                </ul>
                                {% endfor %}
                            {% else %}        
                            <p style="text-align:justify;">
                                You have not added any habits.<br>
                                Click <a href="{{ url_for('create_habit', username=current_user.username) }}">here</a>
                                to add one!          
                            </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div> 
                {% else %}
                    <p>
                    You have not created any systems yet. <br>
                    Click <a href="{{ url_for('create_system', username=current_user.username) }}">here</a> to start!
                    </p>
                {% endif %}
            
            </div>

            <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <div class="new-buttons">
                            <a href="{{ url_for('create_system', username=current_user.username) }}">Add System</a>
                            <a href="{{ url_for('create_habit', username=current_user.username) }}">Add Habit</a> 
                        </div>
                    </div>
            </div>

        </div>

    </div>


            

        

{% endblock %}