{% extends "base.html" %}

{% block content %}

    <div class="welcomePage">
        <div id="welcomeTitle"><h1>L I F E +</h1></div>
        <div class="motto"><h3>upgrade your life.</h3></div>    
    </div>

    <div style="text-align: center;">
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('register') }}" class="button">Get Started!</a>
        {% else %}
        <h3 style="padding: 30px; color:#29335c;">Welcome back, {{ current_user.username }}!</h3><br><br>
        <a href="{{ url_for('wip') }}" class="button">View Dashboard</a>
        {% endif %}
    </div>



{% endblock %}