{% extends "base.html" %}

{% block content %}

    <div class="welcomePage">
        <div id="welcomeTitle"><h1>L I F E +</h1></div>
        <div class="motto"><h3>upgrade your life.</h3></div>    
    </div>

    <div style="text-align: center;">
        {% if current_user.is_anonymous %}
        <a href="#" class="button">Get Started!</a>
        {% else %}
        <h3>Welcome back, {{ current_user.username }}!</h3>
        <a href="#" class="button">View Dashboard</a>
    </div>



{% endblock %}